<main>
    {{> navbar_logged}}

    {{> error_message}}

    <div class="container mt-4" id="customers">
        <div class="row" id="customers-row">
            {{#each this.data}}
            <div class="col-10 mx-auto mb-4">
                <button class="accordion">{{this.Surname}}</button>
                <div class="panel">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4 d-flex justify-content-center">
                                <img class="profile-photo mx-auto my-auto" src="/img/girl.png" alt="Icono hombre">
                            </div>
                            <div class="col-8 d-flex justify-content-center">
                                <div class="container-fluid my-4 mx-3">
                                    <div class="row">
                                        <div class="col-12">
                                            <h2 class="profile-title">Información del cliente</h2>
                                        </div>
                                        <div class="col-12">
                                            <h5 class="profile-subtitle">
                                                ID CLIENTE: <span class="profile-data">{{this.customerId}}</span>
                                            </h5>
                                        </div>
                                        <div class="col-6">
                                            <p class="profile-text">Geography: <span class="profile-data">{{this.Geography}}</span></p>
                                        </div>
                                        <div class="col-6">
                                            <p class="profile-text">Age: <span class="profile-data">{{this.Age}}</span></p>
                                        </div>
                                        <div class="col-6">
                                            <p class="profile-text">Credit Card: <span class="profile-data">{{this.creditCard}}</span></p>
                                        </div>
                                        <div class="col-6">
                                            <p class="profile-text">Email: <span class="profile-data">{{this.email}}</span></p>
                                        </div>
                                        <div class="col-6">
                                            <p class="profile-text">Balance: <span class="profile-data">{{this.balance}}</span>$</p>
                                        </div>
                                        <div class="col-6">
                                            <p class="profile-text">Salary: <span class="profile-data">{{this.salary}}</span>$</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 px-0">
                                <div class="container-fluid mx-0 mb-0 mt-3 w-100 border-top border-dark">
                                    <div class="row">
                                        <div class="col-4 px-0">
                                            <div class="profile-card">
                                                <p class="profile-data fs-4 mb-0">{{this.PointEarned}}</p>
                                                <p class="profile-text">Points earned</p>
                                            </div>
                                        </div>
                                        <div class="col-4 px-0">
                                            <div class="profile-card">
                                                <p class="profile-text text-success py-2 px-2">
                                                    <i class="fa-solid fa-check fs-2"></i>
                                                </p>
                                                <p class="profile-text">Miembro Activo</p>
                                            </div>
                                        </div>
                                        <div class="col-4 px-0">
                                            <div class="profile-card">
                                                <p class="profile-data fs-4 mb-0">{{this.CreditScore}}</p>
                                                <p class="profile-text">Credit Score</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

</main>